openapi: 3.1.0
info:
  title: Rillet Accounting API Key Chart of Accounts API
  version: v4.0
servers:
- url: https://api.rillet.com
  description: Production server url
- url: https://sandbox.api.rillet.com
  description: Test server url
security:
- bearerAuth: []
tags:
- name: Chart of Accounts
paths:
  /accounts:
    get:
      tags:
      - Chart of Accounts
      operationId: list-all-accounts
      summary: Lists all accounts
      description: 'Returns the chart of accounts for the organization tied to the API credentials.

        Use optional filters (for example updated.gt) to sync only accounts changed since a prior run.

        Account ids are stable identifiers used when creating journal entries, bills, and other postings.

        '
      parameters:
      - name: updated.gt
        in: query
        required: false
        description: Filter accounts updated after this timestamp
        schema:
          type: string
          format: date-time
          example: '2023-01-01T00:00:00Z'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                required:
                - accounts
                type: object
                properties:
                  accounts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Account'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    AccountCode:
      type: string
      description: The account code found in the Chart of Accounts
      example: '11112'
    Account:
      type: object
      required:
      - id
      - code
      - name
      - type
      - subtype
      - status
      - intercompany
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        code:
          $ref: '#/components/schemas/AccountCode'
        name:
          type: string
          example: Mercury Savings
        type:
          type: string
          enum:
          - ASSET
          - LIABILITY
          - EQUITY
          - EXPENSE
          - INCOME
        subtype:
          type: string
          example: Bank
        status:
          type: string
          enum:
          - ACTIVE
          - INACTIVE
        intercompany:
          type: boolean
          example: false
        updated_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp in UTC timezone (must end with 'Z')
    Error:
      type: object
      required:
      - type
      - title
      properties:
        type:
          type: string
          format: uri
          description: A URI reference that identifies the error type.
          example: https://rillet.io/forbidden
        title:
          type: string
          description: Summary of the problem.
          example: Forbidden
        status:
          type: integer
          description: The HTTP status code generated by the origin server for this occurrence of the error.
          example: 403
        detail:
          type: string
          description: Explanation specific to this occurrence of the error.
          example: User does not have rights to perform this operation.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
x-mcp-ready: true
x-readme:
  headers:
  - key: X-Rillet-API-Version
    value: '4'
