openapi: 3.1.0
info:
  title: Rillet Accounting API Key Tax rates API
  version: v4.0
servers:
- url: https://api.rillet.com
  description: Production server url
- url: https://sandbox.api.rillet.com
  description: Test server url
security:
- bearerAuth: []
tags:
- name: Tax rates
paths:
  /tax-rates:
    get:
      tags:
      - Tax rates
      operationId: list-all-tax-rates
      summary: Lists all tax rates
      description: Returns all available tax rates. Use the returned IDs when creating bills with specific tax codes.
      parameters:
      - name: country
        in: query
        required: false
        description: Two-letter country code (ISO 3166-1 alpha-2). If provided, only tax rates for that country are returned.
        schema:
          $ref: '#/components/schemas/CountryCode'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                required:
                - tax_rates
                type: object
                properties:
                  tax_rates:
                    type: array
                    items:
                      $ref: '#/components/schemas/TaxRateResource'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    TaxRateResource:
      type: object
      required:
      - id
      - code
      - country
      - description
      - percentage
      properties:
        id:
          type: string
          format: uuid
        code:
          type: string
          example: IE_STANDARD
        country:
          $ref: '#/components/schemas/CountryCode'
        description:
          type: string
          example: Standard Rate
        percentage:
          type: string
          example: '23.0000'
    CountryCode:
      type: string
      description: Two-letter country code (ISO 3166-1 alpha-2).
      example: US
    Error:
      type: object
      required:
      - type
      - title
      properties:
        type:
          type: string
          format: uri
          description: A URI reference that identifies the error type.
          example: https://rillet.io/forbidden
        title:
          type: string
          description: Summary of the problem.
          example: Forbidden
        status:
          type: integer
          description: The HTTP status code generated by the origin server for this occurrence of the error.
          example: 403
        detail:
          type: string
          description: Explanation specific to this occurrence of the error.
          example: User does not have rights to perform this operation.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
x-mcp-ready: true
x-readme:
  headers:
  - key: X-Rillet-API-Version
    value: '4'
