openapi: 3.2.0
info:
  title: Rillet Accounting Subsidiaries API
  version: v4.0
servers:
- url: https://api.rillet.com
  description: Production server url
- url: https://sandbox.api.rillet.com
  description: Test server url
security:
- bearerAuth: []
tags:
- name: Subsidiaries
paths:
  /subsidiaries:
    get:
      tags:
      - Subsidiaries
      operationId: list-all-subsidiaries
      summary: Lists all subsidiaries
      description: 'Returns legal-entity subsidiaries for the authenticated organization.

        Use this to discover subsidiary UUIDs before calling endpoints that accept subsidiary_id (contracts, invoices, reports).

        Each subsidiary carries currency and timezone used for localized accounting and reporting.

        '
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                required:
                - subsidiaries
                type: object
                properties:
                  subsidiaries:
                    type: array
                    items:
                      $ref: '#/components/schemas/Subsidiary'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters: []
  /subsidiaries/{subsidiary_id}:
    get:
      tags:
      - Subsidiaries
      operationId: retrieve-a-subsidiary
      summary: Retrieves a subsidiary
      description: 'Returns one subsidiary by id for the authenticated organization.

        Call list-all-subsidiaries first if you need to resolve which subsidiary id to use.

        '
      parameters:
      - name: subsidiary_id
        in: path
        required: true
        description: UUID of the subsidiary to retrieve (must belong to the organization).
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subsidiary'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    CurrencyCode:
      type: string
      description: Currency code following ISO-4217
      example: USD
    Subsidiary:
      type: object
      required:
      - id
      - currency
      - timezone
      - trade_name
      - type
      properties:
        id:
          type: string
          format: uuid
        currency:
          $ref: '#/components/schemas/CurrencyCode'
        timezone:
          type: string
          example: America/New_York
        trade_name:
          type: string
          example: Rillet Inc.
        type:
          type: string
          enum:
          - LEGAL_ENTITY
    Error:
      type: object
      required:
      - type
      - title
      properties:
        type:
          type: string
          format: uri
          description: A URI reference that identifies the error type.
          example: https://rillet.io/forbidden
        title:
          type: string
          description: Summary of the problem.
          example: Forbidden
        status:
          type: integer
          description: The HTTP status code generated by the origin server for this occurrence of the error.
          example: 403
        detail:
          type: string
          description: Explanation specific to this occurrence of the error.
          example: User does not have rights to perform this operation.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
x-mcp-ready: true
x-readme:
  headers:
  - key: X-Rillet-API-Version
    value: '4'
