openapi: 3.1.0
info:
  title: Rillet Accounting API Key Organizations API
  version: v4.0
servers:
- url: https://api.rillet.com
  description: Production server url
- url: https://sandbox.api.rillet.com
  description: Test server url
security:
- bearerAuth: []
tags:
- name: Organizations
paths:
  /organizations/self:
    get:
      tags:
      - Organizations
      operationId: retrieve-an-organization
      summary: Retrieves an organization
      description: 'Returns the organization profile for the API credentials in use (the “current” org).

        Use this to confirm organization id, display name, and other org-level settings in integrations.

        '
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters: []
components:
  schemas:
    Organization:
      type: object
      required:
      - id
      - currency
      - timezone
      - trade_name
      properties:
        id:
          type: string
          format: uuid
        currency:
          $ref: '#/components/schemas/CurrencyCode'
        timezone:
          type: string
          example: America/New_York
        trade_name:
          type: string
          example: Rillet Inc.
    CurrencyCode:
      type: string
      description: Currency code following ISO-4217
      example: USD
    Error:
      type: object
      required:
      - type
      - title
      properties:
        type:
          type: string
          format: uri
          description: A URI reference that identifies the error type.
          example: https://rillet.io/forbidden
        title:
          type: string
          description: Summary of the problem.
          example: Forbidden
        status:
          type: integer
          description: The HTTP status code generated by the origin server for this occurrence of the error.
          example: 403
        detail:
          type: string
          description: Explanation specific to this occurrence of the error.
          example: User does not have rights to perform this operation.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
x-mcp-ready: true
x-readme:
  headers:
  - key: X-Rillet-API-Version
    value: '4'
