openapi: 3.1.0
info:
  title: Rillet Accounting API Key Bank accounts API
  version: v4.0
servers:
- url: https://api.rillet.com
  description: Production server url
- url: https://sandbox.api.rillet.com
  description: Test server url
security:
- bearerAuth: []
tags:
- name: Bank accounts
paths:
  /bank-accounts:
    get:
      tags:
      - Bank accounts
      operationId: list-all-bank-accounts
      summary: Lists all bank accounts
      description: 'Returns cash bank accounts configured for the organization, optionally filtered by subsidiary.

        Bank account ids anchor transaction import, reconciliation, and treasury automations.

        '
      parameters:
      - $ref: '#/components/parameters/subsidiary_id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                required:
                - accounts
                type: object
                properties:
                  accounts:
                    type: array
                    items:
                      $ref: '#/components/schemas/BankAccount'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Bank accounts
      operationId: create-a-bank-account
      summary: Creates a bank account
      description: 'Registers a treasury bank account with currency, institution identifiers, and linkage to the GL cash account used during transaction import.

        Accurate mapping here ensures invoice payments, bill payments, and bank feeds all post to the same cash subledger.

        '
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBankAccountRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccount'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters: []
  /bank-accounts/{bank_account_id}:
    get:
      tags:
      - Bank accounts
      operationId: retrieve-a-bank-account
      summary: Retrieves a bank account
      description: 'Returns configuration and status for a single bank account, including identifiers downstream connectors need when refreshing balances.

        Use before deleting or updating metadata so you preserve institution codes and default subsidiary routing.

        '
      parameters:
      - name: bank_account_id
        in: path
        description: UUID of the bank account to be used in this operation.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccount'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - Bank accounts
      operationId: delete-a-bank-account
      summary: Deletes a bank account
      description: 'Removes a bank account definition when the entity closed the account or you mistakenly created a duplicate connector mapping.

        Ensure no scheduled payments or open reconciliation batches still target this bank account before deletion.

        '
      parameters:
      - name: bank_account_id
        in: path
        description: UUID of the bank account to be used in this operation.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      required:
      - type
      - title
      properties:
        type:
          type: string
          format: uri
          description: A URI reference that identifies the error type.
          example: https://rillet.io/forbidden
        title:
          type: string
          description: Summary of the problem.
          example: Forbidden
        status:
          type: integer
          description: The HTTP status code generated by the origin server for this occurrence of the error.
          example: 403
        detail:
          type: string
          description: Explanation specific to this occurrence of the error.
          example: User does not have rights to perform this operation.
    CreateBankAccountRequest:
      type: object
      required:
      - name
      - currency
      - bank_name
      - subsidiary_id
      - account_code
      properties:
        name:
          type: string
          description: The bank account name
        currency:
          $ref: '#/components/schemas/CurrencyCode'
        bank_name:
          type: string
        subsidiary_id:
          type: string
          format: uuid
        account_code:
          type: string
          description: The account code found in the Chart of Accounts
        mask:
          type: string
          description: Last digits of the bank account number
        transactions_start_date:
          type: string
          format: date
          description: The earliest date from which bank transactions are tracked for this account. Defaults to the date of creation when omitted.
    BankAccount:
      type: object
      required:
      - id
      - name
      - currency
      - bank_name
      - status
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          description: The bank account name
        currency:
          $ref: '#/components/schemas/CurrencyCode'
        bank_name:
          type: string
        subsidiary_id:
          type: string
          format: uuid
        account_code:
          type: string
          description: The account code found in the Chart of Accounts
        mask:
          type: string
          description: Last digits of the bank account number
        transactions_start_date:
          type: string
          format: date
          nullable: true
          description: The earliest date from which bank transactions are tracked for this account. Omitted for pre-existing accounts that have no recorded start date.
        status:
          $ref: '#/components/schemas/BankAccountStatus'
    BankAccountStatus:
      type: string
      enum:
      - ACTIVE
      - INACTIVE
    CurrencyCode:
      type: string
      description: Currency code following ISO-4217
      example: USD
  parameters:
    subsidiary_id:
      name: subsidiary_id
      in: query
      required: false
      description: Subsidiary to be used when filtering data
      schema:
        type: string
        format: uuid
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
x-mcp-ready: true
x-readme:
  headers:
  - key: X-Rillet-API-Version
    value: '4'
