{"openapi":"3.1.0","info":{"title":"Rillet Accounting API","version":"v4.0"},"x-mcp-ready":true,"x-readme":{"headers":[{"key":"X-Rillet-API-Version","value":"4"}]},"servers":[{"url":"https://api.rillet.com","description":"Production server url"},{"url":"https://sandbox.api.rillet.com","description":"Test server url"}],"security":[{"bearerAuth":[]}],"paths":{"/accounts":{"get":{"tags":["Chart of Accounts"],"operationId":"list-all-accounts","summary":"Lists all accounts","description":"Returns the chart of accounts for the organization tied to the API credentials.\nUse optional filters (for example updated.gt) to sync only accounts changed since a prior run.\nAccount ids are stable identifiers used when creating journal entries, bills, and other postings.\n","parameters":[{"name":"updated.gt","in":"query","required":false,"description":"Filter accounts updated after this timestamp","schema":{"type":"string","format":"date-time","example":"2023-01-01T00:00:00Z"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"required":["accounts"],"type":"object","properties":{"accounts":{"type":"array","items":{"$ref":"#/components/schemas/Account"}}}}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/subsidiaries":{"get":{"tags":["Subsidiaries"],"operationId":"list-all-subsidiaries","summary":"Lists all subsidiaries","description":"Returns legal-entity subsidiaries for the authenticated organization.\nUse this to discover subsidiary UUIDs before calling endpoints that accept subsidiary_id (contracts, invoices, reports).\nEach subsidiary carries currency and timezone used for localized accounting and reporting.\n","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"required":["subsidiaries"],"type":"object","properties":{"subsidiaries":{"type":"array","items":{"$ref":"#/components/schemas/Subsidiary"}}}}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"parameters":[]}},"/subsidiaries/{subsidiary_id}":{"get":{"tags":["Subsidiaries"],"operationId":"retrieve-a-subsidiary","summary":"Retrieves a subsidiary","description":"Returns one subsidiary by id for the authenticated organization.\nCall list-all-subsidiaries first if you need to resolve which subsidiary id to use.\n","parameters":[{"name":"subsidiary_id","in":"path","required":true,"description":"UUID of the subsidiary to retrieve (must belong to the organization).","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Subsidiary"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/organizations/self":{"get":{"tags":["Organizations"],"operationId":"retrieve-an-organization","summary":"Retrieves an organization","description":"Returns the organization profile for the API credentials in use (the “current” org).\nUse this to confirm organization id, display name, and other org-level settings in integrations.\n","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Organization"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"parameters":[]}},"/products":{"get":{"tags":["Products"],"operationId":"list-all-products","summary":"Lists all products","description":"Returns sellable products and services for accounts receivable (contracts, invoices).\nSupports pagination and optional filters such as status and currency.\n","parameters":[{"name":"status","in":"query","description":"Optional status filter (allowed values depend on the resource).","required":false,"schema":{"type":"string"}},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/cursor"},{"name":"currency","in":"query","description":"Optional ISO currency code filter.","required":false,"schema":{"$ref":"#/components/schemas/CurrencyCode"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"required":["products","pagination"],"type":"object","properties":{"products":{"type":"array","items":{"$ref":"#/components/schemas/Product"}},"pagination":{"$ref":"#/components/schemas/Pagination"}}}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"tags":["Products"],"operationId":"create-a-product","summary":"Creates a product","description":"Creates a new product (good or service) that can be referenced on contracts and invoices.\nChoose pricing and revenue behavior consistent with how you bill customers (one-time, recurring, usage, etc.).\n","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Product"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"parameters":[]}},"/products/{product_id}":{"get":{"tags":["Products"],"operationId":"retrieve-a-product","summary":"Retrieves a product","description":"Returns a single product definition including pricing configuration used on contracts and invoices.\n","parameters":[{"name":"product_id","in":"path","required":true,"description":"UUID of the product to retrieve.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Product"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"put":{"tags":["Products"],"operationId":"update-a-product","summary":"Updates a product","description":"Updates a single product definition in the catalog.\nIMPORTANT: This is a full-replace operation (PUT semantics). Include every field expected by ProductRequest;\nomitted fields may be cleared. Call retrieve-a-product first, merge your changes, then submit the full body.\n","parameters":[{"name":"product_id","in":"path","required":true,"description":"UUID of the product to update.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Product"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"delete":{"tags":["Products"],"operationId":"delete-a-product","summary":"Deletes a product","description":"Permanently removes a product. Ensure no in-flight contracts or invoices require this product before deleting.\n","parameters":[{"name":"product_id","in":"path","required":true,"description":"UUID of the product to delete.","schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/customers":{"get":{"tags":["Customers"],"operationId":"list-all-customers","summary":"Lists all customers","description":"Returns customers for accounts receivable with pagination and optional search or external-reference filters.\n","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/cursor"},{"name":"search","in":"query","required":false,"schema":{"type":"string"},"description":"Filter customer by name."},{"name":"external_reference_id","in":"query","required":false,"schema":{"type":"string"},"description":"If this is provided, `external_reference_type` must also be provided.\n"},{"name":"external_reference_type","in":"query","required":false,"schema":{"type":"string"},"description":"If this is provided, `external_reference_id` must also be provided.\n"},{"name":"updated.gt","in":"query","required":false,"description":"Filter customers updated after this timestamp","schema":{"type":"string","format":"date-time","example":"2023-01-01T00:00:00Z"}},{"name":"sort_by","in":"query","required":false,"schema":{"type":"string","enum":["created","updated"],"default":"created"},"description":"the field the customers should be sorted by descending (either created or updated)"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"required":["customers"],"type":"object","properties":{"customers":{"type":"array","items":{"$ref":"#/components/schemas/Customer"}},"pagination":{"$ref":"#/components/schemas/Pagination"}}}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"tags":["Customers"],"operationId":"create-a-customer","summary":"Creates a customer","description":"Creates a new customer in the Accounts Receivable catalog.\nRequired fields: name. When providing an address, all of these fields are required:\nline1, city, state (2-letter code e.g. 'TN', 'CA'), zip_code, country.\n","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Customer"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"parameters":[]}},"/customers/{customer_id}":{"get":{"tags":["Customers"],"operationId":"retrieve-a-customer","summary":"Retrieves a customer","description":"Returns a single customer record including billing profile details, which are needed for updates.\n","parameters":[{"name":"customer_id","in":"path","required":true,"description":"UUID of the customer to retrieve.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Customer"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"put":{"tags":["Customers"],"operationId":"update-a-customer","summary":"Updates a customer","description":"Updates a single customer record in the catalog.\nIMPORTANT: This is a full-replace operation (PUT semantics). All fields must be\nincluded in the request body — omitting any field will set it to null, wiping\nexisting data. Always call retrieve-a-customer first to fetch the current record,\nthen include ALL existing fields in your update request along with your changes.\n","parameters":[{"name":"customer_id","in":"path","description":"UUID of the customer to be used in this operation.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Customer"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"delete":{"tags":["Customers"],"operationId":"delete-a-customer","summary":"Deletes a customer","description":"Permanently deletes a customer. Verify no active contracts or open invoices reference this customer first.\n","parameters":[{"name":"customer_id","in":"path","required":true,"description":"UUID of the customer to delete.","schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/customers/{customer_id}/settings/payment":{"post":{"tags":["Customer Payments"],"operationId":"setup-auto-payment","summary":"Sets up auto-payment","description":"Kicks off the setup of auto-payment for a customer. This will return a URL that the customer must visit to complete the setup. If the customer already has a payment method, this will return a URL to update the payment method.","parameters":[{"name":"customer_id","in":"path","description":"UUID of the customer to be used in this operation.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetupUpAutoPaymentRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentSetupResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"get":{"tags":["Customer Payments"],"operationId":"get-payment-method","summary":"Gets payment method","description":"Returns the payment method configured for auto-payment for the given customer.","parameters":[{"name":"customer_id","in":"path","description":"UUID of the customer to be used in this operation.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerPaymentMethod"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/contracts":{"post":{"tags":["Contracts"],"operationId":"create-a-contract","summary":"Creates a contract","description":"Rillet supports two contract scope types: FULL and REVENUE_RECOGNITION_ONLY. The selected scope determines how the invoices are created and what information the user needs to provide.\n\nThe FULL scope is used when contract invoices are generated and sent directly from Rillet. In this case, Rillet automatically assigns the invoice numbers.\n\nThe REVENUE_RECOGNITION_ONLY scope is intended for situations where contracts and invoices are issued from another system and only need to be recorded in Rillet for accounting purposes. In this workflow, users must provide the invoice numbers manually. Other fields can be populated based on the data imported from the external system.\n\nFor example, if your organization issues invoices through an external billing platform but tracks financials in Rillet, you should select REVENUE_RECOGNITION_ONLY. If Rillet handles the entire invoicing and sending process, choose the FULL scope.\n","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateContractRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpandedContract"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"parameters":[]},"get":{"tags":["Contracts"],"operationId":"list-all-contracts","summary":"Lists all contracts","description":"Returns contracts with pagination and rich filters (subsidiary, customer, status, date ranges).\nUse this to discover contract ids, check lifecycle state, or drive reporting extracts.\n","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/cursor"},{"$ref":"#/components/parameters/subsidiary_id"},{"name":"status","in":"query","description":"Optional status filter (allowed values depend on the resource).","required":false,"schema":{"$ref":"#/components/schemas/ContractStatus"}},{"name":"start_date.gt","in":"query","description":"Minimum start date value to filter by (exclusive)","schema":{"type":"string","format":"date"},"required":false},{"name":"start_date.gte","in":"query","description":"Minimum start date value to filter by (inclusive)","schema":{"type":"string","format":"date"},"required":false},{"name":"start_date.lt","in":"query","description":"Maximum start date value to filter by (exclusive)","schema":{"type":"string","format":"date"},"required":false},{"name":"start_date.lte","in":"query","description":"Maximum start date value to filter by (inclusive)","schema":{"type":"string","format":"date"},"required":false},{"name":"end_date.gt","in":"query","description":"Minimum end date value to filter by (exclusive)","schema":{"type":"string","format":"date"},"required":false},{"name":"end_date.gte","in":"query","description":"Minimum end date value to filter by (inclusive)","schema":{"type":"string","format":"date"},"required":false},{"name":"end_date.lt","in":"query","description":"Maximum end date value to filter by (exclusive)","schema":{"type":"string","format":"date"},"required":false},{"name":"end_date.lte","in":"query","description":"Maximum end date value to filter by (inclusive)","schema":{"type":"string","format":"date"},"required":false},{"name":"customer_id","in":"query","description":"Optional UUID filter by customer.","schema":{"type":"string","format":"uuid"},"required":false}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"required":["contracts"],"type":"object","properties":{"contracts":{"type":"array","items":{"$ref":"#/components/schemas/Contract"}},"pagination":{"$ref":"#/components/schemas/Pagination"}}}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/contracts/{contract_id}":{"get":{"tags":["Contracts"],"operationId":"retrieve-a-contract","summary":"Retrieves a contract","description":"Returns the expanded contract including items, schedules, and metadata required before updates or amendments.\nAlways retrieve before issuing a full PUT update so you preserve fields you do not intend to clear.\n","parameters":[{"name":"contract_id","in":"path","required":true,"description":"UUID of the contract to retrieve.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpandedContract"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"delete":{"tags":["Contracts"],"operationId":"delete-a-contract","summary":"Deletes a contract","description":"Permanently removes a contract when your business rules allow deletion.\nConfirm downstream invoices, revenue schedules, and integrations no longer depend on this contract before deleting it.\n","parameters":[{"name":"contract_id","in":"path","required":true,"description":"UUID of the contract to delete.","schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/contracts/{contract_id}/amendments":{"post":{"tags":["Contracts"],"operationId":"amend-a-contract","summary":"Amends a contract","description":"Applies a contract amendment when you need to add items, retire items, or change pricing/invoicing after go-live.\nUnlike a full PUT update, amendments model business-time changes and preserve historical billing context.\n\nUse preview-contract-amendment to dry-run the financial impact before committing.\n","parameters":[{"name":"contract_id","in":"path","required":true,"description":"UUID of the contract to amend.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AmendContractRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpandedContract"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/contracts/{contract_id}/amendments/preview":{"post":{"tags":["Contracts"],"operationId":"preview-contract-amendment","summary":"Previews contract amendment","description":"Preview a contract that has been amended. This has no effect on the actual contract, only provides a preview of what a contract will look like after it is amended.","parameters":[{"name":"contract_id","in":"path","required":true,"description":"UUID of the contract whose amendment you are previewing.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PreviewContractAmendmentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpandedContract"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/contracts/{contract_id}/end":{"put":{"tags":["Contracts"],"operationId":"end-an-open-ended-contract","summary":"Ends an open-ended contract","description":"Sets an explicit end date on a contract that previously had no close date (open-ended).\nProvide the final end_date in the request body; downstream invoicing and revenue recognition honor the new boundary.\n","parameters":[{"name":"contract_id","in":"path","required":true,"description":"UUID of the open-ended contract to close.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EndOpenEndedContractRequest"}}},"required":true},"responses":{"204":{"description":"NO CONTENT"},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/draft-contracts/{draft_contract_id}":{"parameters":[{"name":"draft_contract_id","in":"path","description":"UUID of the draft contract to be used in this operation.","required":true,"schema":{"type":"string","format":"uuid"}}],"get":{"tags":["Draft Contracts"],"operationId":"retrieve-a-draft-contract","summary":"Retrieves a draft contract","description":"Returns a draft contract by id, including its line items and any attached external references.","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DraftContract"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"parameters":[]},"put":{"tags":["Draft Contracts"],"operationId":"update-a-draft-contract","summary":"Updates a draft contract","description":"Replaces the draft contract identified by `draft_contract_id` with the supplied payload. The body shape\nmatches `POST /draft-contracts` — items and external_references on the existing record are fully replaced.\nReturns 404 if the id is not a draft contract in the organization.\n","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateDraftContractRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DraftContract"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"parameters":[]},"delete":{"tags":["Draft Contracts"],"operationId":"delete-a-draft-contract","summary":"Deletes a draft contract","description":"Permanently removes a draft contract along with its line items and external references. Use this to programmatically reject a draft contract instead of doing it from the Rillet UI.","responses":{"204":{"description":"No Content"},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"parameters":[]}},"/draft-contracts":{"get":{"tags":["Draft Contracts"],"operationId":"list-all-draft-contracts","summary":"Lists all draft contracts","description":"Returns draft contracts with cursor pagination. Draft contracts are staged records that appear in the Rillet UI under\n\"Draft\" for a human to approve or reject before they become active contracts.\n","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/cursor"},{"$ref":"#/components/parameters/subsidiary_id"},{"name":"customer_id","in":"query","description":"Optional UUID filter by customer.","schema":{"type":"string","format":"uuid"},"required":false}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"required":["draft_contracts"],"type":"object","properties":{"draft_contracts":{"type":"array","items":{"$ref":"#/components/schemas/DraftContract"}},"pagination":{"$ref":"#/components/schemas/Pagination"}}}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"tags":["Draft Contracts"],"operationId":"create-a-draft-contract","summary":"Creates a draft contract","description":"Stages a contract in the \"draft\" holding state instead of creating it directly as an active contract.\nDraft contracts appear in the Rillet UI under \"Draft\" for a human to approve or reject.\n\n## Deduplication\n\n**To prevent duplicate draft contracts on retry, supply at least one `external_references` entry with a\nstable `(type, id)` pair.** When you POST again with any matching `(type, id)` pair, the prior draft record\nis replaced with the new payload.\n\nDraft contracts created without any `external_references` are not deduplicated — every POST creates a new\nrecord.\n\n## External reference types\n\nEach reference's `type` must match a slug already defined under Rillet Settings → External References for\nthe organization; unknown slugs return a 400. References attached at create time are preserved when the\ndraft contract is promoted to an active contract.\n\n## Promotion\n\nPromotion to an active contract happens through the Rillet UI. The public API does not currently expose a\nprogrammatic promotion endpoint.\n","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateDraftContractRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DraftContract"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"parameters":[]}},"/contract-items/{contract_item_id}/usage":{"patch":{"tags":["Contract Items"],"operationId":"upsert-a-usage-record","summary":"Upserts a usage record","parameters":[{"name":"contract_item_id","in":"path","required":true,"description":"UUID of the contract line item that carries the usage-priced product.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsageRecords"}}},"required":true},"description":"Creates usage records on dates where previously no usage was recorded. Overwrites usage records on dates where usage was previously recorded already.","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsageRecords"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"get":{"tags":["Contract Items"],"operationId":"list-all-contract-item-usage-records","summary":"Lists all contract item usage records","description":"Returns historical usage quantities for a contract item, newest first, with optional pagination cursors.\nUse before upsert-a-usage-record or delete-a-usage-record to understand existing coverage for each date.\n","parameters":[{"name":"contract_item_id","in":"path","required":true,"description":"UUID of the contract line item whose usage rows are being listed.","schema":{"type":"string"}},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/cursor"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/UsageRecords"},{"type":"object","properties":{"pagination":{"$ref":"#/components/schemas/Pagination"}}}]}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"delete":{"tags":["Contract Items"],"operationId":"delete-a-usage-record","summary":"Deletes a usage record","description":"Removes the usage entry for a single contract item on a specific calendar date.\nThis is narrower than upsert-a-usage-record and is ideal when you need to wipe a mistaken day without resending the entire usage payload.\n","parameters":[{"name":"contract_item_id","in":"path","required":true,"description":"UUID of the contract line item whose usage row should be removed.","schema":{"type":"string"}},{"name":"date","in":"query","description":"Calendar date of the usage row to delete (ISO-8601 format).","schema":{"type":"string","format":"date"},"required":true}],"responses":{"204":{"description":"No Content"},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/invoices":{"get":{"tags":["Invoices"],"operationId":"list-all-invoices","summary":"Lists all invoices","description":"Returns AR invoices with pagination plus filters for subsidiary, customer, overdue state, and audit timestamps.\nUse invoice ids from this feed with retrieve-an-invoice before performing full updates.\n","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/cursor"},{"$ref":"#/components/parameters/subsidiary_id"},{"name":"overdue","in":"query","required":false,"schema":{"type":"boolean"},"description":"Filter for overdue invoices."},{"name":"customer_id","in":"query","description":"Optional UUID filter by customer.","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"updated.gt","in":"query","required":false,"description":"Filter invoices updated after this timestamp","schema":{"type":"string","format":"date-time","example":"2023-01-01T00:00:00Z"}},{"name":"status","in":"query","required":false,"description":"Filter invoices by payment status.","schema":{"$ref":"#/components/schemas/InvoiceStatus"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"required":["invoices"],"type":"object","properties":{"invoices":{"type":"array","items":{"$ref":"#/components/schemas/Invoice"}},"pagination":{"$ref":"#/components/schemas/Pagination"}}}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"tags":["Invoices"],"operationId":"create-an-invoice","summary":"Creates an invoice","description":"Rillet supports two invoice scope types: FULL and REVENUE_RECOGNITION_ONLY. The selected scope determines how the invoice is created and what information the user needs to provide.\n\nThe FULL scope is used when the invoice is generated and sent directly from Rillet. In this case, Rillet automatically assigns the invoice number.\n\nThe REVENUE_RECOGNITION_ONLY scope is intended for situations where the invoice is issued from another system and only needs to be recorded in Rillet for accounting purposes. In this workflow, users must provide the invoice number manually. Other fields can be populated based on the data imported from the external system.\n\nFor example, if your organization issues invoices through an external billing platform but tracks financials in Rillet, you should select REVENUE_RECOGNITION_ONLY. If Rillet handles the entire invoicing and sending process, choose the FULL scope.\n","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateInvoiceRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Invoice"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"parameters":[]}},"/invoices/{invoice_id}":{"get":{"tags":["Invoices"],"operationId":"retrieve-an-invoice","summary":"Retrieves an invoice","description":"Returns invoice details including line items, tax breakdown, and linkage to contracts or customers.\nUse Accept application/json for structured data; application/pdf is only for human-readable exports when enabled.\n","parameters":[{"name":"invoice_id","in":"path","required":true,"description":"UUID of the invoice to retrieve.","schema":{"type":"string"}},{"name":"Accept","in":"header","required":false,"description":"Response format preference; default is application/json.","schema":{"enum":["application/pdf","application/json"],"default":"application/json"}}],"responses":{"200":{"description":"OK","content":{"application/pdf":{"schema":{"type":"string","format":"binary"}},"application/json":{"schema":{"$ref":"#/components/schemas/Invoice"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"delete":{"tags":["Invoices"],"operationId":"delete-an-invoice","summary":"Deletes an invoice","description":"Permanently removes an invoice when your policy allows it (for example draft or voided states).\nConfirm no downstream payments or revenue postings still depend on this invoice.\n","parameters":[{"name":"invoice_id","in":"path","required":true,"description":"UUID of the invoice to delete.","schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"put":{"tags":["Invoices"],"operationId":"update-an-invoice","summary":"Updates an invoice","description":"IMPORTANT: This is a full-replace operation (PUT semantics). All fields must be\nincluded in the request body — omitting any field will set it to null, wiping\nexisting data. Always call retrieve-an-invoice first to fetch the current record,\nthen include ALL existing fields in your update request along with your changes.\n","parameters":[{"name":"invoice_id","in":"path","description":"UUID of the invoice to be used in this operation.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateInvoiceRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Invoice"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/invoices/{invoice_id}/taxes":{"post":{"tags":["Invoices"],"operationId":"update-taxes-for-an-invoice","summary":"Updates invoice taxes","description":"Recalculates or replaces tax lines on an existing invoice using the supplied tax payload.\nUse after changing taxable addresses or when integrating an external tax engine result.\n","parameters":[{"name":"invoice_id","in":"path","required":true,"description":"UUID of the invoice whose taxes should be recomputed.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateTaxesRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Invoice"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/invoice-payments":{"get":{"tags":["Invoice payments"],"operationId":"list-all-invoices-payments","summary":"Lists all invoice payments","description":"Pages every customer payment recorded against invoices across the organization, independent of which invoice it settled.\nUse updated.gt and sort_by when syncing integrations; follow the pagination cursor until no next page remains.\n","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/cursor"},{"name":"updated.gt","in":"query","required":false,"description":"Filter payments updated after this timestamp","schema":{"type":"string","format":"date-time","example":"2023-01-01T00:00:00Z"}},{"name":"sort_by","in":"query","required":false,"schema":{"type":"string","enum":["created","updated"],"default":"created"},"description":"the field the payments should be sorted by descending (either created or updated)"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"required":["payments","pagination"],"type":"object","properties":{"payments":{"type":"array","items":{"$ref":"#/components/schemas/InvoicePayment"}},"pagination":{"$ref":"#/components/schemas/Pagination"}}}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/invoices/{invoice_id}/payments":{"get":{"tags":["Invoice payments"],"operationId":"list-all-invoice-payments","summary":"Lists payments for a given invoice","description":"Returns every payment attempt tied to a single invoice, including successful, uncleared, and failed rows with their public status.\nPair with retrieve-an-invoice when reconciling an account statement against what Rillet already applied.\n","parameters":[{"name":"invoice_id","in":"path","description":"UUID of the invoice to be used in this operation.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"required":["payments"],"type":"object","properties":{"payments":{"type":"array","items":{"$ref":"#/components/schemas/InvoicePayment"}}}}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"tags":["Invoice payments"],"operationId":"create-an-invoice-payment","summary":"Creates an invoice payment","description":"Records a manual cash receipt against an open invoice by amount, effective date, and a GL account code that maps to a funded cash account.\nRillet resolves the account code to a cash account before posting, so verify chart-of-accounts mapping when automations fail validation.\n","parameters":[{"name":"invoice_id","in":"path","description":"UUID of the invoice to be used in this operation.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvoicePaymentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvoicePayment"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/invoices/{invoice_id}/payments/{payment_id}":{"delete":{"tags":["Invoice payments"],"operationId":"delete-an-invoice-payment","summary":"Deletes an invoice payment","description":"Reverses a previously recorded uncleared invoice payment, restoring the invoice balance accordingly.\nOnly uncleared payments can be deleted; cleared or reconciled payments are rejected.\nTreat this as a corrective action with the same controls you apply to voiding treasury transactions in your close process.\n","parameters":[{"name":"invoice_id","in":"path","description":"UUID of the invoice to be used in this operation.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"payment_id","in":"path","description":"UUID of the payment to be used in this operation.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"put":{"tags":["Invoice payments"],"operationId":"update-an-invoice-payment","summary":"Updates an invoice payment","description":"Replaces the amount, date, and cash account on an existing uncleared invoice payment.\nOnly uncleared payments can be updated; cleared or reconciled payments are rejected.\nThis is a full-replace operation (PUT semantics) — include all fields in the request body.\n","parameters":[{"name":"invoice_id","in":"path","description":"UUID of the invoice to be used in this operation.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"payment_id","in":"path","description":"UUID of the payment to be used in this operation.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvoicePaymentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvoicePayment"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/invoices/{invoice_id}/sent-status":{"put":{"tags":["Invoices"],"operationId":"update-invoice-sent-status","summary":"Updates invoice sent status","description":"Marks whether an invoice has been delivered to the customer, which downstream workflows use for collections cadence and compliance reporting.\nSet the sent flag true after your billing system or email provider confirms delivery, or false while the document is still internal-only.\n","parameters":[{"name":"invoice_id","in":"path","description":"UUID of the invoice to be used in this operation.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateInvoiceSentStatusRequest"}}},"required":true},"responses":{"200":{"description":"OK"},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/credit-memos":{"get":{"tags":["Credit Memos"],"operationId":"list-all-credit-memos","summary":"Lists all credit memos","description":"Returns customer credit memos with pagination and filters for application state, customer, and subsidiaries.\nUse credit memo ids with retrieve-a-credit-memo before updates or when applying credits to invoices.\n","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/cursor"},{"$ref":"#/components/parameters/subsidiary_id"},{"name":"updated.gt","in":"query","required":false,"description":"Filter credit memos updated after this timestamp","schema":{"type":"string","format":"date-time","example":"2023-01-01T00:00:00Z"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"required":["credit_memos"],"type":"object","properties":{"credit_memos":{"type":"array","items":{"$ref":"#/components/schemas/CreditMemo"}},"pagination":{"$ref":"#/components/schemas/Pagination"}}}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"tags":["Credit Memos"],"operationId":"create-a-credit-memo","summary":"Creates a credit memo","description":"Opens a customer credit memo that reduces receivable exposure before you allocate it to specific invoices.\nCapture subsidiary, customer, line-level reasons, and tax treatment so finance can audit why the balance changed.\n","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCreditMemoRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreditMemo"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"parameters":[]}},"/credit-memos/{credit_memo_id}":{"get":{"tags":["Credit Memos"],"operationId":"retrieve-a-credit-memo","summary":"Retrieves a credit memo","description":"Loads the full credit memo payload, including remaining balance, applications, and tax metadata you must echo on PUT updates.\nAlways retrieve before editing because update-a-credit-memo replaces the entire resource when fields are omitted.\n","parameters":[{"name":"credit_memo_id","in":"path","description":"UUID of the credit memo to be used in this operation.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreditMemo"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"delete":{"tags":["Credit Memos"],"operationId":"delete-a-credit-memo","summary":"Deletes a credit memo","description":"Removes a credit memo that should no longer affect AR balances, typically while it is still draft or unused.\nConfirm no invoice applications or downstream revenue adjustments depend on this memo before calling delete.\n","parameters":[{"name":"credit_memo_id","in":"path","description":"UUID of the credit memo to be used in this operation.","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"put":{"tags":["Credit Memos"],"operationId":"update-a-credit-memo","summary":"Updates a credit memo","description":"IMPORTANT: This is a full-replace operation (PUT semantics). All fields must be\nincluded in the request body — omitting any field will set it to null, wiping\nexisting data. Always call retrieve-a-credit-memo first to fetch the current record,\nthen include ALL existing fields in your update request along with your changes.\n","parameters":[{"name":"credit_memo_id","in":"path","description":"UUID of the credit memo to be used in this operation.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCreditMemoRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreditMemo"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/credit-memos/{credit_memo_id}/taxes":{"post":{"tags":["Credit Memos"],"operationId":"update-taxes-for-a-credit-memo","summary":"Updates credit memo taxes","description":"Refreshes tax quotes on an existing credit memo using the same structured payload as invoice tax updates, stamped with taxesCalculatedAt for auditability.\nUse after line items change or when your tax engine recomputes jurisdiction-specific amounts before issuing the credit to the customer.\n","parameters":[{"name":"credit_memo_id","in":"path","description":"UUID of the credit memo to be used in this operation.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateTaxesRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreditMemo"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/credit-memos/{credit_memo_id}/applications":{"delete":{"tags":["Credit Memos"],"operationId":"delete-credit-memo-applications","x-skip-mcp":true,"summary":"Unapplies all credit memo applications","description":"Removes every application from this credit memo, reverting all invoice allocations.\n","parameters":[{"name":"credit_memo_id","in":"path","description":"UUID of the credit memo to be used in this operation.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"tags":["Credit Memos"],"operationId":"apply-credit-memo","x-skip-mcp":true,"summary":"Reconciles credit memo applications","description":"Full reconcile of credit memo applications. The request body represents the desired set: missing applications are removed, new applications inserted, and existing applications updated when amount or application_date differ.\n","parameters":[{"name":"credit_memo_id","in":"path","description":"UUID of the credit memo to be used in this operation.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplyCreditMemoRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreditMemo"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/vendors":{"get":{"tags":["Vendors"],"operationId":"list-all-vendors","summary":"Lists all vendors","description":"Returns vendors with pagination and optional status or currency filters.\nVendor ids feed bill creation, vendor credits, and payment workflows.\n","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/cursor"},{"name":"updated.gt","in":"query","required":false,"description":"Filter vendors updated after this timestamp","schema":{"type":"string","format":"date-time","example":"2023-01-01T00:00:00Z"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"required":["vendors","pagination"],"type":"object","properties":{"vendors":{"type":"array","items":{"$ref":"#/components/schemas/VendorResponse"}},"pagination":{"$ref":"#/components/schemas/Pagination"}}}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"tags":["Vendors"],"operationId":"create-a-vendor","summary":"Creates a vendor","description":"Adds a vendor master record the accounts-payable team can select on bills, vendor credits, and payments.\nCapture legal name, remit-to address, default currency, and payment terms so downstream bills inherit correct due dates and banking instructions.\n","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"parameters":[]}},"/vendors/{vendor_id}":{"get":{"tags":["Vendors"],"operationId":"retrieve-a-vendor","summary":"Retrieves a vendor","description":"Fetches the full vendor profile including identifiers you must echo back on PUT updates.\nUse before editing to avoid wiping optional fields, and when validating tax or payment metadata during bill entry.\n","parameters":[{"name":"vendor_id","in":"path","description":"UUID of the vendor to be used in this operation.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"put":{"tags":["Vendors"],"operationId":"update-a-vendor","summary":"Updates a vendor","description":"IMPORTANT: This is a full-replace operation (PUT semantics). All fields must be\nincluded in the request body — omitting any field will set it to null, wiping\nexisting data. Always call retrieve-a-vendor first to fetch the current record,\nthen include ALL existing fields in your update request along with your changes.\n","parameters":[{"name":"vendor_id","in":"path","description":"UUID of the vendor to be used in this operation.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"delete":{"tags":["Vendors"],"operationId":"delete-a-vendor","summary":"Deletes a vendor","description":"Removes a vendor you no longer expect to pay. Confirm no open bills, credits, or scheduled payments still reference this vendor to avoid orphaned payables.\n","parameters":[{"name":"vendor_id","in":"path","description":"UUID of the vendor to be used in this operation.","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/vendor-credits":{"get":{"tags":["Vendor Credits"],"operationId":"list-all-vendor-credits","summary":"Lists all vendor credits","description":"Returns vendor credits with pagination and filters for vendor, subsidiary, and freshness.\nCredits represent vendor-issued balance reductions you can later apply to bills using apply-vendor-credit.\n","parameters":[{"name":"vendor_id","in":"query","description":"Optional UUID filter by vendor.","required":false,"schema":{"type":"string","format":"uuid"}},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/cursor"},{"$ref":"#/components/parameters/subsidiary_id"},{"name":"updated.gt","in":"query","required":false,"description":"Filter vendor credits updated after this timestamp","schema":{"type":"string","format":"date-time","example":"2023-01-01T00:00:00Z"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","required":["vendor_credits","pagination"],"properties":{"vendor_credits":{"type":"array","items":{"$ref":"#/components/schemas/VendorCredit"}},"pagination":{"$ref":"#/components/schemas/Pagination"}}}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"tags":["Vendor Credits"],"operationId":"create-a-vendor-credit","summary":"Creates a vendor credit","description":"Records a new vendor credit memo amount that reduces future payables without yet touching specific bills.\nAfter creation, use apply-vendor-credit to allocate the balance across one or more open bills.\n","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateVendorCreditRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorCredit"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"parameters":[]}},"/vendor-credits/{vendor_credit_id}":{"get":{"tags":["Vendor Credits"],"operationId":"retrieve-a-vendor-credit","summary":"Retrieves a vendor credit","description":"Loads a single vendor credit including remaining balance and application history.\nRetrieve before updating or applying so you know how much capacity is left to allocate to bills.\n","parameters":[{"name":"vendor_credit_id","in":"path","description":"UUID of the vendor credit to be used in this operation.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorCredit"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"put":{"tags":["Vendor Credits"],"operationId":"update-a-vendor-credit","summary":"Updates a vendor credit","description":"IMPORTANT: This is a full-replace operation (PUT semantics). All fields must be\nincluded in the request body — omitting any field will set it to null, wiping\nexisting data. Always call retrieve-a-vendor-credit first to fetch the current record,\nthen include ALL existing fields in your update request along with your changes.\n","parameters":[{"name":"vendor_credit_id","in":"path","description":"UUID of the vendor credit to be used in this operation.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateVendorCreditRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorCredit"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"delete":{"tags":["Vendor Credits"],"operationId":"delete-a-vendor-credit","summary":"Deletes a vendor credit","description":"Permanently removes a vendor credit that should not remain in the subledger.\nEnsure no applications or downstream reconciliations still rely on this credit before deleting.\n","parameters":[{"name":"vendor_credit_id","in":"path","description":"UUID of the vendor credit to be used in this operation.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/vendor-credits/{vendor_credit_id}/applications":{"post":{"tags":["Vendor Credit Applications"],"operationId":"apply-vendor-credit","summary":"Applies a vendor credit to bills","description":"Allocates an existing vendor credit balance against specific open bills, reducing net amounts payable similar to a targeted vendor payment.\nUse after reviewing retrieve-a-vendor-credit so you apply only the remaining unapplied balance.\n","parameters":[{"name":"vendor_credit_id","in":"path","description":"UUID of the vendor credit to be used in this operation.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplyVendorCreditRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorCredit"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/bills":{"get":{"tags":["Bills"],"operationId":"list-all-bills","summary":"Lists all bills","description":"Returns AP bills with pagination plus filters for vendor, subsidiary, approval state, and balances due.\nUse bill ids with retrieve-a-bill before performing full updates or attaching documents.\n","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/cursor"},{"$ref":"#/components/parameters/subsidiary_id"},{"name":"updated.gt","in":"query","required":false,"description":"Filter bills updated after this timestamp","schema":{"type":"string","format":"date-time","example":"2023-01-01T00:00:00Z"}},{"name":"vendor_id","in":"query","required":false,"description":"Filter bills by vendor.","schema":{"type":"string","format":"uuid"}},{"name":"status","in":"query","required":false,"description":"Filter bills by payment status.","schema":{"$ref":"#/components/schemas/BillStatus"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","required":["bills","pagination"],"properties":{"bills":{"type":"array","items":{"$ref":"#/components/schemas/Bill"}},"pagination":{"$ref":"#/components/schemas/Pagination"}}}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"tags":["Bills"],"operationId":"create-a-bill","summary":"Creates a bill","description":"Accrues a new accounts-payable bill against a vendor with subsidiary context, line items, and due dates your approval workflow consumes.\nAttach supporting metadata now so matching payments, amortization schedules, and document uploads stay aligned with the payable.\n","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateBillRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Bill"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"parameters":[]}},"/bills/{bill_id}":{"get":{"tags":["Bills"],"operationId":"retrieve-a-bill","summary":"Retrieves a bill","description":"Returns the authoritative bill record including vendor linkage, approval state, open balance, and document references.\nFetch before update-a-bill because PUT semantics require you to resubmit every field to avoid nulling omitted values.\n","parameters":[{"name":"bill_id","in":"path","description":"UUID of the bill to be used in this operation.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Bill"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"put":{"tags":["Bills"],"operationId":"update-a-bill","summary":"Updates a bill","description":"IMPORTANT: This is a full-replace operation (PUT semantics). All fields must be\nincluded in the request body — omitting any field will set it to null, wiping\nexisting data. Always call retrieve-a-bill first to fetch the current record,\nthen include ALL existing fields in your update request along with your changes.\n","parameters":[{"name":"bill_id","in":"path","description":"UUID of the bill to be used in this operation.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateBillRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Bill"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"tags":["Bills"],"operationId":"upload-document","summary":"Uploads a document","description":"Attaches a binary file such as a PDF invoice or contract to an existing bill using multipart form data with a single file part.\nCall after the bill exists so approvers and auditors can open the evidence directly from the payable record.\n","parameters":[{"name":"bill_id","in":"path","description":"UUID of the bill to be used in this operation.","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}}},"encoding":{"file":{"contentType":"application/octet-stream"}}}}},"responses":{"204":{"description":"No content"},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"delete":{"tags":["Bills"],"operationId":"delete-a-bill","summary":"Deletes a bill","description":"Removes a bill that should no longer drive AP balances, typically while it remains in draft or was created in error.\nVerify no posted payments, accrual journals, or vendor credit applications still reference the bill before deleting.\n","parameters":[{"name":"bill_id","in":"path","description":"UUID of the bill to be used in this operation.","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/bills/{bill_id}/payments":{"get":{"tags":["Bill Payments"],"operationId":"list-bill-payments","summary":"Lists bill payments","description":"Enumerates disbursements recorded against a specific bill, useful when reconciling vendor statements to internal cash movements.\nCombine with retrieve-a-bill to understand remaining balance after each payment posts.\n","parameters":[{"name":"bill_id","in":"path","description":"UUID of the bill to be used in this operation.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"required":["payments"],"type":"object","properties":{"payments":{"type":"array","items":{"$ref":"#/components/schemas/BillPayment"}}}}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"tags":["Bill Payments"],"operationId":"create-a-bill-payment","summary":"Creates a bill payment","description":"Books a cash or scheduled disbursement that settles all or part of a bill, updating the outstanding payable and linking treasury activity.\nProvide funding source details consistent with your configured payment rails so downstream bank reconciliation stays accurate.\n\nIMPORTANT: Notice this operation has a redundancy between the `bill_id` path parameter and the `billId` attribute in the request body, which takes precedence and is used in internal logic. When executing this operation, both IDs must match, otherwise the request will be rejected. This is a legacy redundancy and will be removed in future versions of this operation.\n","parameters":[{"name":"bill_id","in":"path","description":"UUID of the bill to be used in this operation. Must match the `billId` provided in the request body.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BillPaymentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BillPayment"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/bills/{bill_id}/payments/{payment_id}":{"delete":{"tags":["Bill Payments"],"operationId":"delete-a-bill-payment","summary":"Deletes a bill payment","description":"Reverses a previously recorded bill payment when the disbursement failed or was duplicated, restoring the bill balance accordingly.\nTreat this as a corrective action with the same controls you apply to voiding treasury transactions in your close process.\n","parameters":[{"name":"bill_id","in":"path","description":"UUID of the bill to be used in this operation.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"payment_id","in":"path","description":"UUID of the payment to be used in this operation.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/charges":{"get":{"tags":["Charges"],"operationId":"list-all-charges","summary":"Lists all charges","description":"Pages card or out-of-pocket employee charges awaiting policy review, subsidiary allocation, or conversion into reimbursable payables.\nFilter by subsidiary_id or updated.gt when syncing corporate card feeds into downstream expense automation.\n","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/cursor"},{"$ref":"#/components/parameters/subsidiary_id"},{"name":"updated.gt","in":"query","required":false,"description":"Filter charges updated after this timestamp","schema":{"type":"string","format":"date-time","example":"2023-01-01T00:00:00Z"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","required":["charges","pagination"],"properties":{"charges":{"type":"array","items":{"$ref":"#/components/schemas/Charge"}},"pagination":{"$ref":"#/components/schemas/Pagination"}}}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"tags":["Charges"],"operationId":"create-a-charge","summary":"Create a charge","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChargeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Charge"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"parameters":[]}},"/charges/{charge_id}":{"get":{"tags":["Charges"],"operationId":"retrieve-a-charge","summary":"Retrieves a charge","description":"Fetches a single charge with merchant metadata, amounts, and workflow state so reviewers can decide coding before reimbursement.\nUse this after list-all-charges surfaces an id that needs manual inspection or attachment to a bill.\n","parameters":[{"name":"charge_id","in":"path","description":"UUID of the charge to be used in this operation.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Charge"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"delete":{"tags":["Charges"],"operationId":"delete-a-charge","summary":"Deletes a charge","description":"Drops a charge that should not influence spend reporting, for example duplicate imports from a card processor feed.\nEnsure finance agrees the underlying bank activity will not be re-imported before removing the charge permanently.\n","parameters":[{"name":"charge_id","in":"path","description":"UUID of the charge to be used in this operation.","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/reimbursements":{"post":{"tags":["Reimbursements"],"operationId":"create-a-reimbursement","summary":"Create a reimbursement","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateReimbursementRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Reimbursement"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"parameters":[]},"get":{"tags":["Reimbursements"],"operationId":"list-all-reimbursements","summary":"Lists all reimbursements","description":"Surfaces reimbursement requests created from approved charges or manual submissions, including subsidiary and freshness filters for payroll sync.\nUse pagination cursors for large populations and pair with retrieve-a-reimbursement when a row needs detailed audit context.\n","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/cursor"},{"$ref":"#/components/parameters/subsidiary_id"},{"name":"updated.gt","in":"query","required":false,"description":"Filter reimbursements updated after this timestamp","schema":{"type":"string","format":"date-time","example":"2023-01-01T00:00:00Z"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","required":["reimbursements","pagination"],"properties":{"reimbursements":{"type":"array","items":{"$ref":"#/components/schemas/Reimbursement"}},"pagination":{"$ref":"#/components/schemas/Pagination"}}}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/reimbursements/{reimbursement_id}":{"get":{"tags":["Reimbursements"],"operationId":"retrieve-a-reimbursement","summary":"Retrieves a reimbursement","description":"Returns the full reimbursement packet with employee linkage, funding instructions, and approval history for a single id.\nHelpful when validating totals before releasing ACH batches or answering employee support tickets.\n","parameters":[{"name":"reimbursement_id","in":"path","description":"UUID of the reimbursement to be used in this operation.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Reimbursement"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"delete":{"tags":["Reimbursements"],"operationId":"delete-a-reimbursement","summary":"Deletes a reimbursement","description":"Removes a reimbursement that was created prematurely or duplicated during intake so it no longer blocks payroll totals.\nConfirm no outbound payments or GL accruals were posted against the reimbursement before deleting it.\n","parameters":[{"name":"reimbursement_id","in":"path","description":"UUID of the reimbursement to be used in this operation.","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/journal-entries":{"post":{"tags":["Journal Entries"],"operationId":"create-a-journal-entry","summary":"Creates a journal entry","description":"Posts a balanced manual journal entry with explicit debit and credit lines, posting date, and subsidiary scope for GL corrections.\nPrefer dedicated AR or AP APIs when the business event already exists; reserve this for adjustments your automation cannot model yet.\n","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateJournalEntryRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JournalEntry"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"parameters":[]},"get":{"tags":["Journal Entries"],"operationId":"list-all-journal-entries","summary":"Lists all journal entries","description":"Returns GL journal entries with rich filtering (subsidiary, account, date range, reconciliation state).\nUse entry ids with retrieve-a-journal-entry before attempting updates or deletes.\n","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/cursor"},{"$ref":"#/components/parameters/subsidiary_id"},{"name":"updated.gt","in":"query","required":false,"description":"Filter journal entries updated after this timestamp","schema":{"type":"string","format":"date-time","example":"2023-01-01T00:00:00Z"}},{"name":"date.gte","in":"query","required":false,"description":"Filter journal entries with a posting date on or after this date (inclusive)","schema":{"type":"string","format":"date","example":"2023-12-01"}},{"name":"date.lte","in":"query","required":false,"description":"Filter journal entries with a posting date on or before this date (inclusive)","schema":{"type":"string","format":"date","example":"2023-12-31"}},{"name":"account_ids","in":"query","required":false,"description":"Filter journal entries that have at least one line item posting to any of these account ids (comma-separated)","schema":{"type":"array","items":{"type":"string","format":"uuid"}},"style":"form","explode":false,"example":["11111111-1111-1111-1111-111111111111","22222222-2222-2222-2222-222222222222"]},{"name":"sort_by","in":"query","required":false,"schema":{"type":"string","enum":["created","updated"],"default":"created"},"description":"the field the journal entries should be sorted by descending (either created or updated)"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"required":["journal_entries"],"type":"object","properties":{"journal_entries":{"type":"array","items":{"$ref":"#/components/schemas/JournalEntry"}},"pagination":{"$ref":"#/components/schemas/Pagination"}}}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/journal-entries/{journal_entry_id}":{"get":{"tags":["Journal Entries"],"operationId":"retrieve-a-journal-entry","summary":"Retrieves a journal entry","description":"Retrieves a journal entry with every line, account reference, and reconciliation flag needed for close review or downstream edits.\nCall before update-a-journal-entry so you can merge new edits with existing lines without accidentally dropping balances.\n","parameters":[{"name":"journal_entry_id","in":"path","description":"UUID of the journal entry to be used in this operation.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JournalEntry"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"put":{"tags":["Journal Entries"],"operationId":"update-a-journal-entry","summary":"Updates a journal entry","description":"Replaces the lines and header metadata on an existing manual journal entry, subject to the same balancing rules as creation.\nAlways include the complete line list retrieved beforehand because partial payloads can clear fields the API treats as optional.\n","parameters":[{"name":"journal_entry_id","in":"path","description":"UUID of the journal entry to be used in this operation.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateJournalEntryRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JournalEntry"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"delete":{"tags":["Journal Entries"],"operationId":"delete-a-journal-entry","summary":"Deletes a journal entry","description":"Deletes a manual journal entry that should be excluded from the ledger, typically prior to period lock while corrections remain allowed.\nVerify dependent reconciliations or downstream consolidations no longer rely on the entry before removal.\n","parameters":[{"name":"journal_entry_id","in":"path","description":"UUID of the journal entry to be used in this operation.","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/bank-accounts":{"get":{"tags":["Bank accounts"],"operationId":"list-all-bank-accounts","summary":"Lists all bank accounts","description":"Returns cash bank accounts configured for the organization, optionally filtered by subsidiary.\nBank account ids anchor transaction import, reconciliation, and treasury automations.\n","parameters":[{"$ref":"#/components/parameters/subsidiary_id"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"required":["accounts"],"type":"object","properties":{"accounts":{"type":"array","items":{"$ref":"#/components/schemas/BankAccount"}}}}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"tags":["Bank accounts"],"operationId":"create-a-bank-account","summary":"Creates a bank account","description":"Registers a treasury bank account with currency, institution identifiers, and linkage to the GL cash account used during transaction import.\nAccurate mapping here ensures invoice payments, bill payments, and bank feeds all post to the same cash subledger.\n","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateBankAccountRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BankAccount"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"parameters":[]}},"/bank-accounts/{bank_account_id}":{"get":{"tags":["Bank accounts"],"operationId":"retrieve-a-bank-account","summary":"Retrieves a bank account","description":"Returns configuration and status for a single bank account, including identifiers downstream connectors need when refreshing balances.\nUse before deleting or updating metadata so you preserve institution codes and default subsidiary routing.\n","parameters":[{"name":"bank_account_id","in":"path","description":"UUID of the bank account to be used in this operation.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BankAccount"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"delete":{"tags":["Bank accounts"],"operationId":"delete-a-bank-account","summary":"Deletes a bank account","description":"Removes a bank account definition when the entity closed the account or you mistakenly created a duplicate connector mapping.\nEnsure no scheduled payments or open reconciliation batches still target this bank account before deletion.\n","parameters":[{"name":"bank_account_id","in":"path","description":"UUID of the bank account to be used in this operation.","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/bank-transactions":{"get":{"tags":["Bank Transactions"],"operationId":"list-all-bank-transactions","summary":"Lists all bank transactions","description":"Streams imported or manually entered cash activity for reconciliation, optionally scoped by bank account, subsidiary, or updated-since filters.\nPair results with retrieve-a-bank-transaction when you need memo-level detail before marking items cleared.\n","parameters":[{"name":"bank_account_id","in":"query","required":false,"description":"Filter by bank account","schema":{"type":"string","format":"uuid"}},{"$ref":"#/components/parameters/subsidiary_id"},{"name":"updated.gt","in":"query","required":false,"description":"Filter bank transactions updated after this timestamp","schema":{"type":"string","format":"date-time","example":"2023-01-01T00:00:00Z"}},{"name":"date.gte","in":"query","required":false,"description":"Filter bank transactions with date on or after this date","schema":{"type":"string","format":"date","example":"2023-01-01"}},{"name":"date.lte","in":"query","required":false,"description":"Filter bank transactions with date on or before this date","schema":{"type":"string","format":"date","example":"2023-12-31"}},{"name":"sort_by","in":"query","description":"Field to sort results by (see enum values).","required":false,"schema":{"type":"string","enum":["created","updated"]}},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/cursor"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"required":["bank_transactions","pagination"],"type":"object","properties":{"bank_transactions":{"type":"array","items":{"$ref":"#/components/schemas/BankTransaction"}},"pagination":{"$ref":"#/components/schemas/Pagination"}}}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"tags":["Bank Transactions"],"operationId":"create-a-bank-transaction","summary":"Creates a bank transaction","description":"Inserts a single bank feed line such as a wire, ACH, or adjustment when automated imports miss a statement row.\nSpecify the hosting bank account and value dates so cash reporting matches what treasury already booked externally.\n","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateBankTransactionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BankTransaction"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"parameters":[]}},"/bank-transactions/{bank_transaction_id}":{"get":{"tags":["Bank Transactions"],"operationId":"retrieve-a-bank-transaction","summary":"Retrieves a bank transaction","description":"Fetches one bank transaction with counterparty text, amounts, and reconciliation flags used by cash teams during month-end.\nUse before update-a-bank-transaction to preserve memos or matched invoice references embedded in the payload.\n","parameters":[{"name":"bank_transaction_id","in":"path","description":"UUID of the bank transaction to be used in this operation.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BankTransaction"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"put":{"tags":["Bank Transactions"],"operationId":"update-a-bank-transaction","summary":"Updates a bank transaction","description":"Adjusts memo, categorization, or reconciliation metadata on an existing bank transaction without re-importing the entire feed batch.\nSupply the full body expected by the schema so optional fields you intend to keep are not unintentionally cleared.\n","parameters":[{"name":"bank_transaction_id","in":"path","description":"UUID of the bank transaction to be used in this operation.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateBankTransactionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BankTransaction"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"delete":{"tags":["Bank Transactions"],"operationId":"delete-a-bank-transaction","summary":"Deletes a bank transaction","description":"Removes a bank transaction row that was imported twice or created in error before it affects reconciled cash balances.\nConfirm treasury agrees the underlying bank activity will not return on the next feed pull before deleting.\n","parameters":[{"name":"bank_transaction_id","in":"path","description":"UUID of the bank transaction to be used in this operation.","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/tax-rates":{"get":{"tags":["Tax rates"],"operationId":"list-all-tax-rates","summary":"Lists all tax rates","description":"Returns all available tax rates. Use the returned IDs when creating bills with specific tax codes.","parameters":[{"name":"country","in":"query","required":false,"description":"Two-letter country code (ISO 3166-1 alpha-2). If provided, only tax rates for that country are returned.","schema":{"$ref":"#/components/schemas/CountryCode"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"required":["tax_rates"],"type":"object","properties":{"tax_rates":{"type":"array","items":{"$ref":"#/components/schemas/TaxRateResource"}}}}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/reports/arr-waterfall":{"get":{"tags":["Reports"],"operationId":"retrieve-waterfall-report","summary":"Retrieves ARR waterfall report","description":"Returns the ARR waterfall dataset for the requested month with optional breakdown dimensions, subsidiary filters, and pagination cursors for large tenants.\nFinance teams use this to explain beginning ARR, new business, expansion, contraction, and churn between periods.\n","parameters":[{"$ref":"#/components/parameters/month"},{"$ref":"#/components/parameters/status"},{"$ref":"#/components/parameters/breakdown"},{"$ref":"#/components/parameters/subsidiary_id"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/cursor"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RevenueWaterfall"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/books/periods/last-closed":{"get":{"tags":["Books periods"],"operationId":"retrieve-last-book-closed-period","summary":"Retrieves last book closed period","description":"Returns the most recently closed accounting period for book-close workflows, including closed-on timestamps your automation can cache.\nWhen no period has ever been closed the API responds with HTTP 404, so treat a missing resource as \"not yet closed\" rather than an outage.\n","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Book"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"parameters":[]}},"/health":{"get":{"tags":["Health"],"operationId":"health","summary":"Returns service health","description":"Lightweight liveness probe that returns HTTP 200 when the service process is running, without exercising downstream databases or queues.\nUse for load balancer health checks where you only need to know the JVM responded.\n","responses":{"200":{"description":"OK"}},"parameters":[]}},"/api-key":{"get":{"tags":["API Key"],"operationId":"get-api-key-information","summary":"Gets API key information","description":"Confirms the caller’s API key is recognized and returns basic identity metadata such as organization context when authentication succeeds.\nIntegrations should call this during bootstrap or rotation to distinguish invalid keys from broader connectivity failures.\n","responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"}},"parameters":[]}},"/fields":{"get":{"tags":["Fields"],"operationId":"get-fields","summary":"Gets custom fields","description":"Retrieves custom field definitions and their pick-list values for the organization.\nUse the returned field ids with create-field-value and update-field-value when enriching core entities.\n","parameters":[{"name":"updated.gt","in":"query","required":false,"description":"Filter fields updated after this timestamp","schema":{"type":"string","format":"date-time","example":"2023-01-01T00:00:00Z"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FieldsResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"tags":["Fields"],"operationId":"create-field","summary":"Creates a field","description":"Defines a new custom field (text, number, pick list, etc.) that can be attached to supported Rillet entities for reporting and automation.\nAfter creation, use create-field-value to seed allowed pick-list entries or default values teams should see in the UI.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateFieldRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Field"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"parameters":[]}},"/fields/{id}":{"parameters":[{"name":"id","in":"path","description":"UUID of the id to be used in this operation.","required":true,"schema":{"type":"string","format":"uuid"}}],"put":{"tags":["Fields"],"operationId":"update-field","summary":"Updates a field","description":"Changes labels, validation rules, or visibility metadata on an existing custom field without recreating historical values.\nCoordinate with stakeholders before renaming because downstream integrations often key off the human-readable label.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateFieldRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Field"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"parameters":[]}},"/fields/{id}/values":{"parameters":[{"name":"id","in":"path","description":"UUID of the id to be used in this operation.","required":true,"schema":{"type":"string","format":"uuid"}}],"post":{"tags":["Fields"],"operationId":"create-field-value","summary":"Creates a field value","description":"Adds a selectable value to a pick-list style custom field so users and APIs can tag entities with consistent taxonomy.\nValues inherit the field’s scope, so create them after the parent field exists and before importing records that reference the new code.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateFieldValueRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Field"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"parameters":[]}},"/fields/{fieldId}/values/{fieldValueId}":{"parameters":[{"name":"fieldId","in":"path","description":"UUID of the field to be used in this operation.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"fieldValueId","in":"path","description":"UUID of the fieldValue to be used in this operation.","required":true,"schema":{"type":"string","format":"uuid"}}],"put":{"tags":["Fields"],"operationId":"update-field-value","summary":"Updates a field value","description":"Renames or reorders a pick-list entry while preserving its underlying id so historical records stay linked to the same option.\nPrefer this over delete-and-recreate when auditing requires stable references across reporting periods.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateFieldValueRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Field"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"parameters":[]},"delete":{"tags":["Fields"],"operationId":"delete-field-value","summary":"Deletes a field value","description":"Retires a pick-list option that should no longer be selectable while keeping older records intact for read-only history.\nConfirm no automation or validation rules still require the value before removal to avoid breaking bulk imports.\n","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Field"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"parameters":[]}},"/reports/trial-balance":{"get":{"tags":["Reports"],"operationId":"retrieve-trial-balance-report","summary":"Retrieves trial balance report","description":"Returns a trial balance report for the specified date range.\nRequired parameters: from_date and to_date (ISO-8601 format YYYY-MM-DD). Both must be provided or the call will fail.\nExample: from_date=2024-01-01, to_date=2024-12-31.\n","parameters":[{"$ref":"#/components/parameters/fromDate"},{"$ref":"#/components/parameters/toDate"},{"$ref":"#/components/parameters/subsidiary_id"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrialBalanceReport"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/reports/balance-sheet":{"get":{"tags":["Reports"],"operationId":"retrieve-balance-sheet-report","summary":"Retrieves balance sheet report","description":"Returns a balance sheet report as of the specified date.\nRequired parameter: as_of_date (ISO-8601 format YYYY-MM-DD). Must be provided or the call will fail.\nExample: as_of_date=2024-12-31.\n","parameters":[{"$ref":"#/components/parameters/asOfDate"},{"$ref":"#/components/parameters/subsidiary_id"},{"$ref":"#/components/parameters/breakdownBy"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BalanceSheetReport"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/reports/income-statement":{"get":{"tags":["Reports"],"operationId":"retrieve-income-statement-report","summary":"Retrieves income statement report","description":"Returns an income statement (profit and loss) report for the specified date range.","parameters":[{"$ref":"#/components/parameters/fromDate"},{"$ref":"#/components/parameters/toDate"},{"$ref":"#/components/parameters/subsidiary_id"},{"$ref":"#/components/parameters/breakdownBy"},{"$ref":"#/components/parameters/customFieldId"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IncomeStatementReport"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/reports/cash-flow-statement":{"get":{"tags":["Reports"],"operationId":"retrieve-cash-flow-statement-report","summary":"Retrieves cash flow statement report","description":"Returns a cash flow statement report for the specified date range.","parameters":[{"$ref":"#/components/parameters/fromDate"},{"$ref":"#/components/parameters/toDate"},{"$ref":"#/components/parameters/subsidiary_id"},{"$ref":"#/components/parameters/breakdownBy"},{"$ref":"#/components/parameters/customFieldId"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CashFlowStatementReport"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/reports/executive-pl":{"get":{"tags":["Reports"],"operationId":"retrieve-executive-pl-report","summary":"Retrieves executive P&L report","description":"Returns an executive profit and loss report with margins for the specified date range.","parameters":[{"$ref":"#/components/parameters/fromDate"},{"$ref":"#/components/parameters/toDate"},{"$ref":"#/components/parameters/subsidiary_id"},{"$ref":"#/components/parameters/breakdownBy"},{"$ref":"#/components/parameters/customFieldId"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExecutivePLReport"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/reports/journal-entries":{"get":{"tags":["Reports"],"operationId":"list-reports-journal-entries","summary":"Lists journal entries with reporting currency amounts","description":"Returns journal entries with line item amounts converted to the reporting currency.","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/cursor"},{"$ref":"#/components/parameters/subsidiary_id"},{"name":"updated.gt","in":"query","required":false,"description":"Filter journal entries updated after this timestamp","schema":{"type":"string","format":"date-time","example":"2023-01-01T00:00:00Z"}},{"name":"date.gte","in":"query","required":false,"description":"Filter journal entries with a posting date on or after this date (inclusive)","schema":{"type":"string","format":"date","example":"2023-12-01"}},{"name":"date.lte","in":"query","required":false,"description":"Filter journal entries with a posting date on or before this date (inclusive)","schema":{"type":"string","format":"date","example":"2023-12-31"}},{"name":"account_ids","in":"query","required":false,"description":"Filter journal entries that have at least one line item posting to any of these account ids (comma-separated)","schema":{"type":"array","items":{"type":"string","format":"uuid"}},"style":"form","explode":false,"example":["11111111-1111-1111-1111-111111111111","22222222-2222-2222-2222-222222222222"]},{"name":"sort_by","in":"query","required":false,"schema":{"type":"string","enum":["created","updated"],"default":"created"},"description":"the field the journal entries should be sorted by descending (either created or updated)"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"required":["journal_entries"],"type":"object","properties":{"journal_entries":{"type":"array","items":{"$ref":"#/components/schemas/ReportingJournalEntry"}},"pagination":{"$ref":"#/components/schemas/Pagination"}}}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}}},"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer"}},"parameters":{"limit":{"name":"limit","in":"query","required":false,"description":"Maximum number of rows to return in the page.","schema":{"$ref":"#/components/schemas/PageLimit"}},"cursor":{"name":"cursor","in":"query","required":false,"description":"Pagination cursor to navigate through the full response.","schema":{"$ref":"#/components/schemas/PageCursor"}},"status":{"name":"status","in":"query","required":true,"description":"whether to include committed or active entries","sc
[...]
